*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav {
  position: sticky;
  display: flex;
  top: 0;
  z-index: 2;
  justify-content: space-between;/*separa horizontalmente la imagen y el nav*/
  align-items: center;
  height: 80px;
  background: linear-gradient(to bottom, #ffffff,  #e8e7e7, #c1c1c1,#8f8f8f);
}

.navLogo {
  height: 60px;
  display: flex;
  margin-left: 2rem;
}

.icoCarrito {
  height: 50px;
  padding-left: 2rem;
  padding-right: 1rem;
}

.contadorCarrito {
  display: flex;
  font-size: 1.2rem;
  line-height: 2rem;
}

.nav_list {/* prop el nav */
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80%;
  right: 2%;
  top: 0;        
  padding-top: 0;
  text-align: center;
  justify-content: flex-end;
  gap: 0.3rem;
  margin-right: 0.2rem;
  background-color: transparent;
  list-style-type: none;
  text-decoration: none;
}


.nav_link {
  margin: 0 0.4rem;
  text-decoration: none;
}

.prod {
  display: block;
  width: 300px;
}

.prod img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerProd {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: stretch;
  width: 95%;
  margin: auto;
  margin: 3rem;
  border: solid 2px #da1111
}

/* ESTILO DE LA CARD */
.detalleProd {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 15rem;
  height: 25rem;
  margin: 3rem;
  border: solid 2px #c3c3c3;
  border-radius: 10px;
}

.detalleImg {
  width: 100%;
  height: 50%;
  position: absolute;
  object-fit: cover;
  margin: 1rem;
}

.content {
  position: absolute;
  top: 15rem;
  width: 100%;
}

.prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 25rem;
  height: 25rem;
  margin: 3rem;
  border: solid 2px #c3c3c3;
  border-radius: 10px;
}

.prodImg {
  width: 100%;
  height: 50%;
  position: absolute;
  object-fit: cover;
  margin: 1rem;
}